* {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

html, body {
  height: 100%;
  width: 100%;
}
ul {
  list-style-type: none;
}

#contentwrap , #popups{
  height: 100%;
  width: 100%;
}
#popups {
  pointer-events: none;
  position: absolute;
}
#popups * {
  pointer-events: all;
}
#resulttable {
  background-color: #ffffff;
  display: none;
  height: 90%;
  left: 5%;
  opacity: 0.95;
  overflow: scroll;
  position: fixed;
  top: 5%;
  width: 90%;
}
#resulttable thead, #resulttable tbody {
  overflow: scroll;
  width: 50%;
  height: 50%;
}
#options {
  background-color: #ffffff;
  display: none;
  opacity: 0.95;
  position: fixed;
}
ul#options ul ul {
  margin-left: 3em;
}
ul#cards li {
  display: inline;
}
ul#cards li a img {
  height: 319px;
  margin: 0 1px 1px 0;
  width: 222px;
}