/* Elements */

* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  font-size: 100%;
  height: 100%;
  min-height: 240px;
  min-width: 240px;
  width: 100%;
}

html {
  height: 100%;
  width: 100%;
}

ul {
  list-style: none;
}

/* --- */

/* Default body: #content */

#content {
  height: 100%;
  width: 100%;
}

#content > div {
  float: left;
  height: 100%;
}

/* Default body: #context > .left */

#buttons {
  border-bottom: 1px solid #dddddd;
  box-sizing: border-box;
  height: 2rem;
  width: 100%;
}

#buttons li {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#buttons li:not(.disabled) {
  cursor: pointer;
}

#buttons li:not(.disabled):hover {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
}

#buttons ul {
  display: table;
  height: 100%;
  table-layout: fixed;
  width: 100%;
}

#cardlist button {
  cursor: pointer;
  height: 2rem;
  width: 100%;
}

#cardlist textarea {
  display: block;
  height: calc(100% - 2rem);
  overflow: auto;
  resize: none;
  white-space: nowrap;
  width: 100%;
}

@media all and (max-width: 260px) {
  #cardlist textarea {
    white-space: initial;
  }
}

#options ul ul {
  margin-left: 2.5rem;
}

#popups > div {
  background-color: #ffffff;
  display: none;
  opacity: 0.95;
  position: fixed;
}

#results {
  height: 90%;
  left: 5%;
  top: 5%;
  width: 90%;
}

#results table {
  display: block;
  height: 100%;
  overflow: auto;
  width: 100%;
}

/* Default body: #context > .middle */

#content > .middle {
  background-color: #dddddd;
  cursor: pointer;
  display: table;
  height: 100%;
  width: 1rem;
  word-break: break-all;
  word-break: break-word;
}

#content > .middle span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* Default body: #context > .right */

#cards {
  height: 100%;
  overflow: auto;
  width: 100%;
}

#cards img {
  height: 319px;
  margin: 0 1px 1px 0;
  vertical-align: top;
  width: 222px;
}

#cards li {
  display: inline-block;
}

#cards ul {
  text-align: center;
}

/* content.a */

#content.a > .left {
  width: 100%;
}

#content.a > .middle,
#content.a > .right {
 display: none;
}

#content.a #cardlist {
  height: calc((100% - 2rem) / 100 * 75);
  margin: 0 auto 0 auto;
  position: relative;
  top: calc((100% - 2rem) / 100 * 12.5);
  width: 22.5rem;
}

@media all and (max-height: 640px) {
  #content.a #cardlist {
    height: 456px;
    top: calc((100% - 2rem - 456px) / 2);
  }
}

#content.a #cardlist textarea {
  border: 1px solid #dddddd;
  box-sizing: border-box;
}

@media all and (max-height: 488px) {
  #content.a #cardlist {
    height: calc(100% - 2rem);
    position: initial;
    top: 0;
  }
}

@media all and (max-width: 360px) {
  #content.a #cardlist {
    margin: 0;
    width: 100%;
  }
}

#content.a #popups {
  height: calc(100% - 2rem);
  position: absolute;
  top: 2rem;
  width: 100%;
}

/* #content.b */

#content.b #cardlist {
  height: calc(100% - 2rem);
  width: 100%;
}

#content.b > .left {
  width: 22.5rem;
}

@media all and (max-width: 372px) {
  #content.b > .left {
    width: calc(100% - 1rem);
  }
}

#content.b > .right {
  width: calc(100% - 23.5rem);
}

/* content.c */

#content.c > .left {
  display: none;
}

#content.c > .right {
  width: calc(100% - 1rem);
}